

#pagination>#pagination-inner{
    display:inline-block;
    background-color: red;
}

#page{
    display:inline-block;
    width : 35px;
    height : 35px;
    background-color :white;
    border:1px solid black;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
    margin-right: 5px;
    cursor:pointer;
  }